// app.styl

@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,700')

@import "colors"

base_font = 'Roboto', 'Open Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica'
mono_font = 'Roboto Mono', 'Monaco', 'Menlo', 'Courier New', monospace


body
  margin-top 50px
  padding-top 10px
  font-family base_font
  font-size 16px
  background sol_background

a
  color sol_cyan
  &:hover
    color sol_cyan
    text-decoration underline

.container
  margin-bottom 50px

.col-centered
  display inline-block
  float none
  // Reset the text-align.
  text-align left
  // Inline-block space fix.
  margin-right -4px

.title, .game-info
  margin-bottom 20px

.title, .game-info, #notes
  text-align center

.game-info-item
  font-size 26px
  display inline-block
  margin 0 20px 0 20px

.d3-tip
  padding 10px
  background-color rgba(0, 0, 0, 0.8)
  color white
  max-height 600px
  overflow-y scroll
  border-radius 5px
  font-weight inherit
  text-align center
  vertical-align center
  .mechanism-table
    font-size 100%
    margin 0
    td
      width 15pt
      padding 3px
  .mechanism-table .current-state
    font-weight bold
  .mechanism-table .on-row .mapping-arrow
    color #0f6
  .mechanism-table .off-row .mapping-arrow
    color #f66
.d3-tip.n::after
  display none

#concept-table
  margin-top 25px
  font-size 20
  td
    vertical-align middle
  td.mechanism
    font-weight bold
  thead
    font-weight 700
    td.large
      font-size 120%
    td.subheading
      border-top 1px

.nav-tabs
  margin-bottom 30px
  > li
    > a
      color sol_cyan
    &.active > a
      background sol_background

.lead
  margin-bottom 35px
  font-weight 300

.animation-controls
  text-align center

.module-title
  text-align center
  font-size 22px
  margin 20px 0

.trial-label
  margin-bottom 25px
  font-size 22pt
  text-align right

.time-step-label
  margin-bottom 25px
  font-size 22pt
  text-align left

.btn-primary
  border none
  background sol_cyan

.module-canvas
  svg
    display block
    margin auto
    cursor default
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none

.animation-controls
  .control-group
    text-align center
    margin-bottom 25px
  .control-label
    font-weight 600
    font-size 16px
    margin-left 20px

#speed-slider-container
  > .slider-horizontal
    width 150px

#timestep-slider-container
  > .slider-horizontal
    width 300px

#timestep-slider-container, #speed-slider-container
  display inline-block
  padding 4px 20px 6px 20px
  margin 0 20px
  background #eee
  border-radius 5px

.slider-handle
  background-color sol_cyan
  background-image none

#timestep
  margin 30px 0 30px 0
  text-align center
  font-size 150%

@import "network"
@import "environment"
@import "chart"
