// app.styl

@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300,400,700')

@import "colors"

base_font = 'Open Sans', 'Helvetica Neue', 'Helvetica'
mono_font = 'Droid Sans Mono', 'Monaco', 'Menlo', 'Courier New', monospace


body
  font-family base_font
  background sol_background

.container
  min-width 560px
  margin-bottom 50px

.row-centered
  text-align center

.col-centered
  display inline-block
  float none
  // reset the text-align
  text-align left
  // inline-block space fix
  margin-right -4px

.title
  text-align center
  margin-bottom 35px

.animation-controls
  margin-bottom 20px
  text-align center

.module
  text-align center
  margin-bottom 20px

.module-title
  text-align center
  font-size 22px
  margin 25px 0

.trial-label
  margin-bottom 25px
  font-size 22pt
  text-align right

.time-step-label
  margin-bottom 25px
  font-size 22pt
  text-align left

.btn-primary
  background sol_cyan

.module-canvas
  svg
    cursor default
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none

.animation-controls
  .control-group
    text-align center
    margin-bottom 25px
  .control-label
    font-weight bold
    font-size 16px
    margin-left 20px

#speed-slider-container
  > .slider-horizontal
    width 150px

#timestep-slider-container
  > .slider-horizontal
    width 300px

#timestep-slider-container, #speed-slider-container
  display inline-block
  padding 8px 20px 7px 20px
  margin 0 20px
  background #e9e9e9
  border-radius 5px

#timestep
  text-align center
  font-size 150%

@import "network"
@import "environment"
@import "chart"
