// chart.styl

.chart-container
  background: sol_background
  margin-bottom 50px

.chart
  height 150px
  .c3-axis-x-label
    font-size 12px
  .c3-line-Fitness, .c3-line-Phi, .c3-line-Number-of-Concepts
    stroke-width 5px
  .c3-line-Shadow
    stroke-width 1px
