doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')

  title Animats

  // Online/Offline
  // link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')

  // TODO load minified versions
  link(href='/bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css', rel='stylesheet', type='text/css')

  // TODO load minified versions
  link(href='/bower_components/c3/c3.css', rel='stylesheet', type='text/css')

  link(href='/css/app.css', rel='stylesheet', type='text/css')
body
  .container
    .row.clearfix
      .col-md-12
        h1.page-header.title Evolving Animats
        .row.clearfix
          .col-md-8.col-md-offset-2
            p.lead Evolution of one example animat in the Task 4 environment of 
              a(href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003966" target="_blank") Albantakis et al. 2014
              | . In Task 4, the animat must catch blocks of size 3 and 6 and avoid blocks of size 4 and 5.

        .animation-controls
          .row.clearfix
            .col-md-12
              .control-group
                span.control-label Speed:
                #speed-slider-container
                  input.slider.slider-horizontal(type='text')
                button#play-pause.btn.btn-large.btn-default
                  span.glyphicon.glyphicon-play
              .control-group
                span.control-label Generation:
                #timestep-slider-container
                  input.slider.slider-horizontal(type='text')
        #timestep Generation 0
    .row.clearfix
      .col-md-6
        #network-module.module
          .row.clearfix
            .col-md-12
              h2.module-title Animat
              #network-container.module-canvas
              .caption
                p The animat is initialized at generation 0 without connections between its elements (sensors S1, S2; motors M1, M2; hidden elements A–D).
                p Due to selective pressure to increase its fitness, at later generations, the animat developed more network connections.
                ul
                  li Self-loops are indicated by dark circles around the elements.
                  li Elements in the “off” state are dimmed, elements in the “on” state are brightly colored. 
                  li Elements with no connections are grayed-out.
      .col-md-6
        #chart-module.module
          h2.module-title Fitness
          #fitness-chart-container.chart-container
            #fitness-chart.chart.module-canvas
          h2.module-title Phi
          #phi-chart-container.chart-container
            #phi-chart.chart.module-canvas
          h2.module-title Number of Concepts
          #num-concepts-chart-container.chart-container
            #num-concepts-chart.chart.module-canvas
    .row.clearfix
      .col-md-12
        .citation Albantakis L, Hintze A, Koch C, Adami C, Tononi G. 2014. “<a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003966" target="_blank">Evolution of Integrated Causal Structures in Animats Exposed to Environments of Increasing Complexity</a>.” <em>PLoS computational biology</em>, 10 (12), pp. e1003966.
              
  // Online/Offline
  // script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/bower_components/jquery/jquery.min.js')

  // TODO get minified versions
  script(src='/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')

  // Online/Offline
  // TODO get minified versions
  // script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js')
  script(src='/bower_components/d3/d3.js')

  // TODO get minified versions
  // Online/Offline
  script(src='/bower_components/c3/c3.js')

  script(src='/js/app.js')

  // Online/Offline
  // script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
