doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')

  title Animats

  // Online/Offline
  // link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')

  // TODO load minified versions
  link(href='/bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css', rel='stylesheet', type='text/css')

  // TODO load minified versions
  link(href='/bower_components/c3/c3.css', rel='stylesheet', type='text/css')

  link(href='/css/app.css', rel='stylesheet', type='text/css')

  script(type='text/javascript').
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53865041-1', 'auto');
    ga('send', 'pageview');

  script(type='text/javascript').
   window.ANIMAT_NETWORK_CONFIG = 'GAME';
body
  .container
    .row.clearfix
      .col-md-12
        h1.title Evolving Animats
        ul.nav.nav-tabs
          li(role="presentation")
            a(href='/evolution.html') Evolution
          li.active(role="presentation")
            a(href='/game.html') Task Simulation
          li(role="presentation")
            a(href='/open-evolution.html') Open Evolution   
        .row.clearfix
          .col-md-12
            p.lead Final behavior (generation 59,904) of one example animat in the Task 4 environment of 
              a(href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003966" target="_blank") Albantakis et al. 2014
              | . In Task 4, the animat must catch blocks of size 3 and 6 and avoid blocks of size 4 and 5.
        .animation-controls
          .row.clearfix
            .col-centered
              .control-group
                span.control-label Speed:
                #speed-slider-container
                  input.slider.slider-horizontal(type='text')
                button#play-pause.btn.btn-large.btn-primary
                  span.glyphicon.glyphicon-play
              .control-group
                span.control-label Trial:
                #timestep-slider-container
                  input.slider.slider-horizontal(type='text')
      #timestep Trial 0    
    .row.clearfix
      .col-lg-6
        #environment-module.module
          .row.clearfix
            .col-md-12
              h2.module-title Environment
              #environment-container.module-canvas
              .caption
                p The animat was tested on a total of 128 trials (blocks of 4 different sizes, falling in 2 directions, with 16 different initial animat positions).
                dl
                  li 
                    strong Trials 1–32:
                    |  size 3 blocks (catch)
                  li 
                    strong Trials 33–64:
                    |  size 4 blocks (avoid)
                  li 
                    strong Trials 65–96:
                    |  size 6 blocks (catch)
                  li 
                    strong Trials 97–128:
                    |  size 5 blocks (avoid)
                p The animat reached a fitness value of 125/128, meaning it correctly catches or avoids blocks in 125 out of the 128 trials.
      .col-lg-6
        #network-module.module
          .row.clearfix
            .col-md-12
              h2.module-title Animat
              #network-container.module-canvas
              .caption
                p Network structure (connectome) of the animat with two sensors (S1, S2), two motors (M1, M2), and four hidden elements (A–D). 
                ul
                  li Self-loops are indicated by dark circles around the elements.
                  li Elements in the “off” state are dimmed, elements in the “on” state are brightly colored. 
                  li Elements with no connections are grayed-out.
    hr
    .row.clearfix
      .col-md-9
        h3 Reference
        p Albantakis L, Hintze A, Koch C, Adami C, Tononi G. 2014. “<a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003966" target="_blank">Evolution of Integrated Causal Structures in Animats Exposed to Environments of Increasing Complexity</a>.” <em>PLoS computational biology</em>, 10 (12), pp. e1003966.

  // Online/Offline
  // script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/bower_components/jquery/jquery.min.js')

  // TODO get minified versions
  script(src='/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')

  // Online/Offline
  // TODO get minified versions
  // script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js')
  script(src='/bower_components/d3/d3.min.js')

  // TODO get minified versions
  // Online/Offline
  script(src='/bower_components/c3/c3.min.js')

  script(src='/js/app.js')

  // Online/Offline
  // script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
